/*////////////////////////////
           Header
///////////////////////////*/

header{
  background-color: #fff;
  box-shadow: 0px 1px 2px black;
  margin-top: 0;
}

#hamburger {
  display: none;
}

#title {
  margin: 0;
  font-size: 1.8em;
  margin: 0 0 0 40px;
  padding-top: 10px;
}

#slogan {
  color: #FF3B53;
  font-size: 1em;
  margin: 5px 0 10px 40px;
  letter-spacing: 2.6px;
}

#leftheader {
  width: 70%;
  display: inline-block;
}

#rightheader {
  width: 30%;
  display: inline-block;
  float: right;
  text-align: center;
}

#rightheader p {
  margin: 30px 0 0 0;
  letter-spacing: 2px;
}

#rightheader p a {
  text-decoration: none;
  font-size: 0.8em;
  color: #fff;
  background-color: #50E3C2;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0.5px 2px black;
  
}

#nav{
  list-style: none;
  text-decoration: none;
  margin-top: 30px;
  
}

#nav li {
  display: inline-block;
  padding: 10px;
}

#nav a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  
  
}

#nav #selected {
  color: #FF3B53;
}

  /*////////////////////////////
             Responsive
  ///////////////////////////*/


@media only screen 
  and (min-width: 320px)
  and (max-width: 830px) 
  and (-webkit-min-device-pixel-ratio: 2)

{
  #rightheader p, #nav{
    display: none;
  }
  

  #hamburger {
    display: inline-block;
    width: 25px;
    margin-top: 20px;
  }

  
  #title {
    font-size: 1.5em;
    margin: 5px 0px 15px 20px;
  }
  
  
  #slogan {
    display: none;
  }
  
  #rightheader {
    width: 20%;
  }
  
  #leftheader {
    width: 80%;
  }
}

  /*////////////////////////////
             Mobile
  ///////////////////////////*/


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) 
  

{
  
  
  #slogan {
    display: none;
  }

  header {
    height: 6vh;
  }
  
  

  
  #title {
    font-size: 3em;
    margin-top: 15px;
  }
  

      #rightheader p a, #nav {
    display: none;
  }
  
  

  #hamburger {
    display: inline-block;
    width: 50px;
    margin-top: 40px;
  }
  
 
}


